@import '../../styles/utils/variables.scss';

.photos {
  padding: 40px;

  &__content {
    margin-left: 140px;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.photo-item {
  position: relative;
  &__increaseImage {
    position: absolute;
  }
}