.users-page {
  position: relative;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    margin-left: 150px;
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  flex-wrap: wrap;
  gap: 20px;
  width: 400px;
}
