@import './utils/variables.scss';

body {
  background: linear-gradient(135deg, #007BFF, #00BFFF);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  margin: 10px 140px 40px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.box {
  margin-bottom: 40px;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  color: $color-white;
  position: relative;


  &::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    height: 2px;
    border-radius: 5px;
    color: $color-white;
    background: $color-white;
    width: 0;
    opacity: 0;

    transition: all 300ms linear;
  }

  &:hover::after {
    opacity: 1;
    width: 105%;
  }
}

.title {
  color: $color-white;
}

.subtitle {
  margin-bottom: 5px;
  color: $color-white;
}

.search {
  &__input {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
}

.option {
  text-transform: capitalize;
  outline: none;
  border: none;
}

.filters-box {
  width: 250px;
}

.filter {
  border-radius: 5px;
  border: 1px solid $color-white;

  &:hover {
    box-shadow: 0 0 5px $color-white;
  }

  &:focus {
    box-shadow: 0 0 15px $color-white;
    outline: none;
  }
}

.select {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  text-transform: capitalize;
  outline: none;

  cursor: pointer;
}

.sort {
  &__label {
    display: flex;
    gap: 10px;
    align-items: center;

    &-text {
      font-weight: 600;
      white-space: nowrap;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}